.bg-color {
  width: 150px;
  height: 50px;
  background-color: rgba(65, 2, 94, 0.5);
}

.input {
  height: 2px;
  accent-color: rgb(62, 0, 128);
}

.button {
  height: 60px;
  width: 100%;
  border: none;
  color: inherit;
  background-color: var(--cta-color);
  box-shadow: 0 4px 4px var(--primary-shadow);
  border-radius: 0.5rem;
  cursor: pointer;
  transition: transform 0.2s, background-color 0.2s;

  &--txt {
    font-size: 1rem;
    letter-spacing: 4px;
  }
}

.button:hover {
  transform: scale(0.95);
  background-color: var(--cta-color-hover);
}
