.password {
  height: 60px;
  width: 100%;
  margin-bottom: 1rem;
  border: none;
  outline: none;
  border-radius: 0.5rem;
  text-align: center;
  font-family: inherit;
  color: inherit;
  background-color: var(--primary-color);
  box-shadow: 0 4px 4px var(--primary-shadow);

  &__generator {
    padding: 2.25rem;
    width: 95%;
    max-width: 500px;
    margin-left: auto;
    margin-right: auto;
  }
}
